* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-y: hidden;
}

.main {
  background-color: #FFFFFF;
  width: 100%;
  color: #FFFFFF;
}

.nav1 {
  height: 46px;
  background-color: #51c5d4;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-top: 8px;
  font-style: italic;
}

.refresh {
  float: right;
  background-image: url("images/refresh.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  height: 46px;
}

.refresh[data-disabled="true"] {
  background-image: url("images/refresh-disabled.png");
}

.nav2 {
  background-color: #e8f0f2;
  color: #1cdae6;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  height: 40px;
}

.types {
  text-align: center;
  padding-top: 10px;
  height: 40px;
}

.selected {
  border-bottom: 4px solid #1cdae6;
}

#list-container {
  height: calc(100% - 96px);
  overflow-y: scroll;
}

.item {
  border-bottom: 2px solid #e5e5e5;
}

.item: hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.item > .list-title {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 80%;
  background-origin: content-box;
  min-height: 60px;
  width: 40px;
}

.doctype[data-type='docx'] {
  background-image: url("images/DOC.png");
}

.doctype[data-type='xlsx'] {
  background-image: url("images/XLS.png");
}

.doctype[data-type='pptx'] {
  background-image: url("images/PPT.png");
}

.xlstype {
  background-image: url("images/XLS.png");
}

.ppttype {
  background-image: url("images/PPT.png");
}

.item .name{
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item .detail {
  margin-left: 0;
  color: #868a8b;
  font-size: 12px;
}

#empty-list {
  height: calc(100% - 90px);
}

.empty-title {
  font-size: 18px;
  padding-top: 40px;
  text-align: center;
  color: #5f6366;
}

.empty-subtitle {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  color: #868a8b;
}

.circle {
  margin-left: calc(50% - 62px);
  margin-top: 30px;
  width: 124px;
  height: 124px;
  border-radius: 62px;
  background-color: rgba(255, 255, 255, 0.5);
}

.circle span {
  display: block;
  padding-top: 50px;
  font-size: 26px;
  text-align: center;
}

.refresh-btn {
  background-color: #51c5d4;
}

.header {
  height: 46px;
  background-color: #51c5d4;
}

.back {
  width: 46px;
  height: 46px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-origin: content-box;
  background-image: url("images/back.png");
}

#file-header {
  text-align: left;
  color: #FFFFFF;
  height: 42px;
}

#file-header span {
  display: block;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 6px;
  height: 30px;
}

.pages {
  margin-top: 14px;
}

#file-display, #container {
  width: calc(100%);
  height: calc(100%);
}

.content {
  height: calc(100% - 46px);
  background-color: #FFFFFF;
}

#loadingFailed {
  min-height: 360px;
  background-color: #FFFFFF;
  color: #919394;
}

.open-btn {
  color: #FFF;
  background-color: #51c5d4;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(42, 42, 42, 0.4);
  margin-left: 0;
  border: none;
  border-radius: 0px;
}

.loading-container {
  margin: 180px calc(50% - 50px) 0;
  height: 100px;
  width: 100px;
  background-color: rgba(42, 186, 204, 0.7);
  border-radius: 10px;
}

#loading-img {
  margin: 27px;
}

.hidden {
  display: none;
}

.file-ops {
  color: black;
  margin: 160px calc(10%) 0;
  background-color: #FFFFFF;
  width: 80%;
}

.info-title {
  height: 30px;
  background-color: #51c5d4;
}

#delete-confirm {
}

.confirm-header {
  height: 4px;
  width: 100%;
  background: #51c5d4;
}

#deleteFileName {
  margin-top: 15px;
  padding-left: 20px;
  height: 40px;
  border-bottom: 1px solid rgba(42, 42, 42, 0.1);
  color: #5f6366;
  text-overflow: ellipsis;
}

#confirm {
  text-align: center;
  padding: 14px 0;
  background: #51c5d4;
  color: #5f6366;
}

#cancel {
  text-align: center;
  padding: 14px 0;
  color: #5f6366;
}

#fileName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 5px;
  padding-left: 10px;
  color: #FFFFFF;
}

.fileInfo {
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(42, 42, 42, 0.1);
  color: #444444;
  height: 40px;
}

.deleteFile {
  padding-top: 10px;
  padding-left: 10px;
  color: #444444;
  height: 40px;
}

#file-info {
  height: calc(100% - 20px);
}

.file-info-title {
  padding-top: 8px;
  font-size: 24px;
}

.file-info-detail{
  background-color: #FFFFFF;
  height: calc(100% - 20px);
  color: #000000;
}

.name {
  width: 90%;
  margin: 0 calc(5%);
  padding-top: 10px;
  color: #5f6366;
}

.value {
  width: 90%;
  margin: 0 calc(5%);
  color: #868a8b;
}

.nameInfo {
  width: 90%;
  padding: 10px calc(5%) 0;
  border-bottom: 1px solid rgba(42, 42, 42, 0.1);
  color: #5f6366;
}

.bottom {
  position: absolute;
  bottom: 0;
  background-color: gray;
}

.hover {
  background: rgba(0, 0, 0, 0.15);
}

.touchover {
  background-color: #43a4b0;
}

.loading {
  -moz-animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
