* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-y: hidden;
}

.main {
  background: -moz-linear-gradient(315deg, #0062CF, #24CCCC) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  width: 100%;
  color: #FFFFFF;
}

.nav1 {
  height: 46px;
}

.header {
  height: 46px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-top: 12px;
  font-style: italic;
}

.refresh {
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.45) no-repeat 2px 1px url("images/refresh.png");
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.refresh[data-disabled="true"] {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-image: url("images/refresh-disabled.png");
  background-position: center;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, .15);
}

.nav2 {
  background-color: rgba(255, 255, 255, 0.3);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  height: 40px;
}

.types {
  text-align: center;
  padding-top: 10px;
  height: 40px;
}

.selected {
  border-bottom: 4px solid #FFC0CB;
}

#list-container {
  height: calc(100% - 96px);
  overflow-y: scroll;
}

.item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.item: hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.item > .list-title {
  background-repeat: no-repeat;
  background-position: center;
  min-height: 60px;
}

.doctype[data-type='docx'] {
  background-image: url("images/DOC.png");
}

.doctype[data-type='xlsx'] {
  background-image: url("images/XLS.png");
}

.doctype[data-type='pptx'] {
  background-image: url("images/PPT.png");
}

.xlstype {
  background-image: url("images/XLS.png");
}

.ppttype {
  background-image: url("images/PPT.png");
}

.item .name{
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item .detail {
  margin-left: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}

.empty-title {
  font-size: 18px;
  padding-top: 40px;
  text-align: center;
}

.empty-subtitle {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.circle {
  margin-left: calc(50% - 62px);
  margin-top: 30px;
  width: 124px;
  height: 124px;
  border-radius: 62px;
  background-color: rgba(255, 255, 255, 0.5);
}

.circle span {
  display: block;
  padding-top: 50px;
  font-size: 26px;
  text-align: center;
}

.refresh-btn {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.back {
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  margin: 5.5px 0 0 11px;
  background: url("images/back.png") no-repeat scroll center center rgba(255, 255, 255, 0.5);
}

#file-header {
  padding-top: 14px;
  text-align: left;
  color: #FFFFFF;
  height: 42px;
}

#file-header span {
  display: block;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
}

#file-display, #container {
  width: calc(100%);
  height: calc(100%);
}

.content {
  height: calc(100% - 46px);
  background-color: #FFFFFF;
}

.zoom-in {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-image: url("images/plus.png");
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center center;
  margin-left: 11px;
  margin-top: 2px;
}

.zoom-out {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-image: url("images/minus.png");
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center center;
  margin-top: 2px;
}

#loadingFailed {
  min-height: 360px;
  background-color: #FFFFFF;
  color: #919394;
}

.open-btn {
  color: #FFFFFF;
  background-color: #8ED1FC;
  border: 1px solid #77C6F7;
}

.return-btn {
  color: #FFFFFF;
  background-color: #8ED2FF;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(42, 42, 42, 0.4);
  margin-left: 0;
  border: none;
  border-radius: 0px;
}

.loading-container {
  margin: 180px calc(50% - 50px) 0;
  height: 100px;
  width: 100px;
  background-color: rgba(42, 186, 204, 0.7);
  border-radius: 10px;
}

#loading-img {
  margin: 27px;
}

.hidden {
  display: none;
}

.file-ops {
  color: black;
  margin: 160px calc(10%) 0;
  background-color: #FFFFFF;
  width: 80%;
}

.info-title {
  height: 30px;
  background: -moz-linear-gradient(315deg, #0062CF, #24CCCC) no-repeat scroll 0px 0px transparent;
}

#delete-confirm {
}

.confirm-header {
  height: 4px;
  width: 100%;
  background: -moz-linear-gradient(315deg, #0062CF, #24CCCC) no-repeat scroll 0px 0px transparent;
}

#deleteFileName {
  margin-top: 22px;
  padding-left: 20px;
  height: 40px;
  border-bottom: 1px solid rgba(42, 42, 42, 0.1);
}

#confirm {
  text-align: center;
  padding: 14px 0;
  background: rgba(0, 0, 0, 0.15);
}

#cancel {
  text-align: center;
  padding: 14px 0;
}

#fileName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 5px;
  padding-left: 10px;
  color: #FFFFFF;
}

.fileInfo {
  padding-top: 10px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(42, 42, 42, 0.1);
  color: #444444;
  height: 40px;
}

.deleteFile {
  padding-top: 10px;
  padding-left: 10px;
  color: #444444;
  height: 40px;
}

#file-info {
  height: calc(100% - 20px);
}

.file-info-title {
  padding-top: 13px;
  font-size: 24px;
}

.file-info-detail{
  background-color: #FFFFFF;
  height: calc(100% - 20px);
  color: #000000;
}

.name {
  width: 90%;
  margin: 0 calc(5%);
  padding-top: 10px;
  color: #444444;
}

.value {
  width: 90%;
  margin: 0 calc(5%);
}

.nameInfo {
  width: 90%;
  padding: 10px calc(5%) 0;
  border-bottom: 1px solid rgba(42, 42, 42, 0.1);
}

.bottom {
  position: absolute;
  bottom: 0;
  background-color: gray;
}

.hover {
  background: rgba(0, 0, 0, 0.15);
}

.touchover {
  background: url("images/back.png") no-repeat scroll center center rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

.refresh-touchover {
  background: rgba(255, 255, 255, 0.2) no-repeat 2px 1px url("images/refresh.png");
  border: 1px solid rgba(255, 255, 255, 0.35);
}
