@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 29px;
font-style: normal;
}.flaticon-arrow295:before {
	content: "\e000";
}
.flaticon-arrow487:before {
	content: "\e001";
	font-size: 25px;
}
.flaticon-arrowhead7:before {
	content: "\e002";
	font-size: 25px;
}
.flaticon-menu10:before {
	content: "\e003";
}
.flaticon-reload3:before {
	content: "\e004";
	font-size: 35px;
}
.flaticon-search7:before {
	content: "\e005";
}
